// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/*cyan darken-4*/

.title2 {
	color: #ececec;

}

.btn33 {
	width: 97px;
}



.signinn {
    width: 471px;
    height: 467px;
    padding: 47px 85px !important;
    padding-bottom: 0px;
}